# Logs
logs
*.log
npm-debug.log*

# Runtime data
data/rooms.json
*.local

# Dependency directories
node_modules/

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS metadata
.DS_Store
Thumbs.db
